{% extends "layout.html" %}
{% block title %}Add Employee{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
    <form action="" method="post">
        <div class="row">
            <div class="col-md-4">
                <label>Name:</label>
                <input type="text" name="name_form"/>
            </div>
        
            <div class="col-md-4">
                <label>Skill Level:</label>
                <input type="number" name="skill_level_form"/> 
            </div>
        
            <div class="col-md-4">
                <label>Email:</label>
                <input type="text" name="email_address_form"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label>Trade:</label>
                <select type="text" name="trade_form">
                	<option value="Accounting">Accounting</option>
                	<option value="CAD">CAD</option>
                	<option value="Estimating">Estimating</option>
                    <option value="Marketing">Marketing</option>
                    <option value="Office">Office</option>
                	<option value="Piping Plumbing">Piping Plumbing</option>
                    <option value="PM">PM</option>
                    <option value="Safety">Safety</option>
                	<option value="Sheet Metal">Sheet Metal</option>
                    <option value="Shop">Shop</option>
                    <option value="Service">Service</option>
                </select>
            </div>
        </div>
        <button class="button postfix"  type="submit">Add</button>
    </form>
    
{% endblock %}