{% extends "layout.html" %}
{% block title %}All Computer{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
    <div role="content">
        <div class="btn-group pull-right" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <a role="button" class="btn btn-success" href="/devices/computer_add">Add New Computer</a>
            </div>
        </div>
        <h2 class="sub-header">All Computers</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Computer</th>
                        <th>User</th>
                        <th>Trade</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

    {% for post in post %}

                    <tr>
                        <td><a href="{{ url_for('computer_edit', id=post.id) }}">{{ post.computer_name }}</a></td>
                        
                            {% for employee in employees %}
                                {% if employee.id == post.assigned_to %}
                                <td>{{ employee.name }}</td>
                                <td>{{ employee.trade }}</td>
                                {% endif %}
                            {% endfor %}

                        <td><a href="{{ url_for('delete_computer', id=post.id) }}">Delete</a></td>
                    </tr>
         

    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

{% endblock %}