{% extends "layout.html" %}
{% block title %}Add FOB{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
    <form action="/devices/fob_add" method="post">
        <div class="row">
            <div class="col-md-4">
                <div>
                    <label>FOB Number:</label>
                </div>
                <input type="text" name="fob_number"/></p>
            </div>
            
            <div class="col-md-4">
                <div>
                    <label>Serial Number:</label>
                </div>
                <input type="text" name="fob_serial"/></p>
            </div>
        
            <div class="col-md-4">
                <div>
                    <label>Assigned To:</label>
                </div>
                <select type="text" name="assigned_to"></p>

                {% for employee in employee_list %}

                    <option value="{{ employee.id }}">{{ employee.name }}</option>

                {% endfor %}

                </select>
            </div>
        </div>
        </p><button class="button postfix"  type="submit">Add</button>
    </form>
{% endblock %}
{% block footer %}
<script src="/static/js/jquery-3.1.1.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/bootstrap-datepicker.js"></script>
<script>
    $('.input-group.date').datepicker({
        format: "mm/dd/yyyy",
        autoclose: true,
        todayHighlight: true
    });
</script>
{% endblock %}
