{% extends "layout.html" %}
{% block title %}Add Phone{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
    <form action="/devices/phone_add" method="post">
        <div class="row">
            <div class="col-md-4">
                <div>
                    <label>Phone Number:</label>
                </div>
                <input type="text" name="phone_number"/></p>
            </div>
            <div class="col-md-4">
                <div>
                    <label>Phone Brand:</label>
                </div>
                <select type="text" name="phone_os"></p>
                    <option value="Android">Android</option>
                    <option value="Apple">Apple</option>
                    <option value="Generic">Generic</option>
                </select>
            </div>
            <div class="col-md-4">
                <div>
                    <label>Model:</label>
                </div>
                <input type="text" name="phone_model"/></p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-4">
                <div>
                    <label>Notes:</label>
                </div>
                <input type="text" name="notes"/></p>
            </div>
            <div class="col-md-4">
                <div>
                    <label>Assigned To:</label>
                </div>
                <select type="text" name="assigned_to"></p>

                {% for employee in employee_list %}

                    <option value="{{ employee.id }}">{{ employee.name }}</option>

                {% endfor %}

                </select>
            </div>
        </div>
        </p><button class="button postfix"  type="submit">Add</button>
    </form>
{% endblock %}
{% block footer %}
<script src="/static/js/jquery-3.1.1.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/bootstrap-datepicker.js"></script>
<script>
    $('.input-group.date').datepicker({
        format: "mm/dd/yyyy",
        autoclose: true,
        todayHighlight: true
    });
</script>
{% endblock %}
