<!doctype html>
<html class="no-js" lang="en">
	<head>
		{% block head %}
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
		
		<title>{% block title %}{% endblock %}</title>
		<!-- Bootstrap core CSS -->
	    <link href="/static/css/bootstrap.css" rel="stylesheet">

	    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	    <link href="/static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

	    <!-- Custom styles for this template -->
	    <link href="/static/css/navbar-fixed-top.css" rel="stylesheet">

	    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
	    <!--[if lt IE 9]><script src="/static/js/ie8-responsive-file-warning.js"></script><![endif]-->
	    <script src="/static/js/ie-emulation-modes-warning.js"></script>

	    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	    <!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	    <![endif]-->
		{% endblock %}
	</head>
		<body>
				{% block header %}
				<nav class="navbar navbar-default navbar-fixed-top">
					<div class="container">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand">Xcel IT DB</a>
						</div>
						<div id="navbar" class="navbar-collapse collapse">
							<ul class="nav navbar-nav">
								<li class="active"><a href="/">Home</a></li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Devices <span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><a href="/devices/computers">Computers</a></li>
										<li><a href="/devices/computer_add">Add Computer</a></li>
										<li role="separator" class="divider"></li>
										<li><a href="/devices/fobs">FOBs</a></li>
										<li><a href="/devices/fob_add">Add FOB</a></li>
										<li role="separator" class="divider"></li>
										<li><a href="/devices/ipads">iPads</a></li>
										<li><a href="/devices/ipad_add">Add iPad</a></li>
										<li role="separator" class="divider"></li>
										<li><a href="/devices/phones">Phones</a></li>
										<li><a href="/devices/phone_add">Add Phone</a></li>
										<li role="separator" class="divider"></li>
										<li><a href="/devices/printers">Printers</a></li>
										<li><a href="/devices/printer_add">Add Printer</a></li>
									</ul>
								</li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Employees<span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><a href="/employee">All Employees</a></li>
										<li><a href="/employee/add">Add Employee</a></li>
									</ul>
								</li>
							</ul>
							<ul class="nav navbar-nav navbar-right">
								<li><a href="/admin">Admin</a></li>
								<li><a href="/logout">Log Out</a></li>
							</ul>
						</div><!--/.nav-collapse -->
					</div>
				</nav>
				{% endblock %}
				<div class="container">
				{% block content %}
				{% endblock %}   
				</div>
{% block footer %}

		<!-- Bootstrap core JavaScript
	    ================================================== -->
	    <!-- Placed at the end of the document so the pages load faster -->
	    <script src="/static/js/jquery-3.1.1.js"></script>
	    <script>window.jQuery || document.write('<script src="/static/js/jquery-3.1.1.min.js"><\/script>')</script>
	    <script src="/static/js/bootstrap.js"></script>
	    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	    <script src="/static/js/ie10-viewport-bug-workaround.js"></script>
  
{% endblock %} 

	</body>
</html>
